@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



.navbar {
  display: flex;
  height: 20vh;
  background: white;
  align-items: center;
  width: 100%;
  padding: 1% 3%;
}

.logo {
  flex: 50%;
  justify-self: start;
}

.titleLogo {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 2.2em;
}

.menu {
  display: flex;
  justify-content: end;
  flex: 70%;
  padding: 20px;
  column-gap: 2%;
}

.menu a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.1s ease-in-out;
}

.menu a:hover {
  color: #00dfc0;
  border-top: 2px solid #180f4a;
}

.headline {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  flex: 50%;
  row-gap: 20px;
}

.title {
  font-size: 5em;
}

.subtitle {
  color: black;
  font-size: 2em;
}

.imgBox {
  flex: 50%;
}

.imgBox img {
  width: 100%;
  height: auto;
}

.github-btn {
  width: 130px;
  text-align: center;
  display: inline-block;
  background: black;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.github-btn:hover {
  border: none;
  background: #00dfc0;
  color: black;
}

.img-headline {
  flex: 50%;
}
.img-headline img {
    max-width: 80%;
}
.website {
  margin-top: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25%;
}
.website h2 {
  margin-bottom: 7%;
  width: 100%;
  font-size: 3.5em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #00dfc0;
}
.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
.card {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid #00dfc0;
  border-radius: 15px;
  cursor: pointer;
  transition: .2s ease-in-out;
  align-items: center;
  justify-content: center;
  padding: 2% 1%;
  row-gap: 20px;
}

.card:hover {
  background: #00dfc0;
  color: white;
  padding: 40px;
}
.card:hover img {
  display: none;
}
.card:hover .card-text {
  display: none;
}
.card:hover .card-text-2 {
  display: block;
}
.card-text-2 {
  display: none;
  transition: 0.3s ease-in-out;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 35vh;
  width: 100vw;
  background-image: linear-gradient(180deg, black, #090422, black);
  border-top: 5px solid #00dfc0;
  color: white;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 15px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
}

.text-white {
  font-size: 1.5em;
  color: white;
}

.agency {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2em;
}

.jobRole {
  margin-top: -10px;
}

.copyright {
  color: white;
  font-size: 0.8em;
}


@media screen and (max-width: 1500px) {
 
  .titleLogo {
    white-space: nowrap;
    font-size: 1.5rem;
  }

  .headline {
    padding: 5%;
  }

  .textBox {
    align-items: start;
    justify-content: start;
  }
  
  .headline .title {
    font-size: 2.5em;
  }

  .headline .subtitle {
    font-size: 1.3rem;
  } 

  .github-btn {
    white-space: nowrap;
    font-size: 0.9em;
    width: 95px;
  }

  .website {
    padding: 0 15px;
  }

  .website h2 {
    font-size: 2.2rem;
  }
}
